###############################
#  This is the example .env   #
#  file, please rename this   #
#  file to .env               #
###############################

# Frontend configuration
FRONTEND_DIST=/Absolute/Path/To/Client/Repository/dist
# FRONTEND_DIST=./frontend # Relative path

# Backend configuration
REPLAYS_PATH=./replays

# General server configuration
PORT=3000

# Socket.io admin panel configuration
SOCKETIO_ADMIN_UI_ENABLED=true
SOCKETIO_ADMIN_UI_USER=admin
# "changeit" encrypted with bcrypt
SOCKETIO_ADMIN_UI_PASSWORD=$2b$10$heqvAkYMez.Va6Et2uXInOnkCT6/uQj1brkrbyG3LpopDklcq7ZOS

# Debug configuration
DEBUG=false
LOGS_PATH=./logs